<app-owner-navbar></app-owner-navbar>
<router-outlet></router-outlet>

<h2 color="blue" style="margin-top: 70px;margin-left:110px;color: rgb(106, 106, 251);">Information of company
    {{this.company.name}}</h2>
<hr />
<div class="columns">
    <form>
        <div class="container" style="margin-bottom: 20px;">
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="Enter  name" [(ngModel)]="this.company.name"
                name="name" />
        </div>
        <div class="container" style="margin-bottom: 20px;">
            <label>Website:</label>
            <input type="text" class="form-control" placeholder="Enter website" [(ngModel)]="this.company.website"
                name="website" />
        </div>
        <div class="container" style="margin-bottom: 10px;">
            <label>Email:</label>
            <input type="text" class="form-control" placeholder="Enter email" [(ngModel)]="this.company.email"
                name="price" />
        </div>
        <div class="container" style="margin-bottom: 20px;">
            <label>Phone number:</label>
            <input type="number" class="form-control" placeholder="Enter  phone number"
                [(ngModel)]="this.company.phoneNumber" name="phoneNumber" />
        </div>




        <div class="container" style="margin-bottom: 20px;">
            <label>Founder:</label>
            <input type="text" class="form-control" placeholder="Enter founder" [(ngModel)]="this.company.founder "
                name="founder" />
        </div>
    </form>


    <form>
        <div class="container" style="margin-bottom: 20px;">
            <label>Country of origin:</label>
            <input type="text" class="form-control" placeholder="Enter countryOfOrigin"
                [(ngModel)]="this.company.countryOfOrigin" name="countryOfOrigin" />
        </div>


        <div class="container" style="margin-bottom: 20px;">
            <label>Number of employees</label>
            <input type="text" class="form-control" placeholder="Enter number of empl"
                [(ngModel)]="this.company.numberOfEmpl" name="numberOfEmpl" />
        </div>



        <hr />


        <div>
            <button type="submit" style="margin-left: 500px;" class="btn" (click)="submit()">Submit</button>
            <button type="submit" style="margin-left: 20px;" class="btn" (click)="cancel()">Cancel</button>

        </div>

        <hr />
        <div>
            <button type="button" class="btn btn-primary mybtn" style="margin-left:50px" (click)="openModal()">Create
                job offer</button>



        </div>


    </form>


</div>

<mat-card>
    <mat-tab-group>

        <mat-tab label="Job Offers">
            <div *ngFor="let offer of jobOffers">
                <mat-card class="example-card m-3">
                    <mat-label>
                        <h2 style="color:rgb(98, 70, 255)">{{ offer.position }}</h2>
                    </mat-label>

                    <div>
                        <mat-label>
                            <h5>Valid until: {{ offer.dueDate | date: "mediumDate" }} </h5>
                        </mat-label>
                        <span> {{ offer.description }} </span>
                    </div>
                    <br>
                    <mat-card-content class="content">
                        <div>

                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>

    </mat-tab-group>
</mat-card>