<app-owner-navbar></app-owner-navbar>




<router-outlet></router-outlet>


<h1 style="margin-left: 120px;margin-top: 70px;color:rgb(111, 111, 243);"> My companies</h1>

<div class="card">
    <div class="container">
        <div class="card" style="margin-top: 20px;" *ngFor="let item of items">
            <ul class="list-group">

                <li style="height: 60px;" class="list-group-item">Email of companies: {{item.email}} </li>
                <li style="height: 60px;" class="list-group-item">Name of companies: {{item.name}} </li>
                <li style="height: 60px;" class="list-group-item">Web sity of companies: {{item.website}}</li>
                <li style="height: 60px;" class="list-group-item">Number of empployes: {{item.numberOfEmpl}}</li>
                <li style="height: 60px;" class="list-group-item">Phone number: {{item.phoneNumber}}</li>
                <li style="height: 60px;" class="list-group-item">Country of origin: {{item.countryOfOrigin}}</li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary mybtn" (click)="edit(item.id)">Edit company</button>


                </li>
            </ul>

        </div>
    </div>

</div>