<div *ngIf="role=='ADMIN'">
    <app-admin-navbar></app-admin-navbar>
</div>


<div *ngIf="role=='REGISTERED_USER'">

    <app-user-navbar></app-user-navbar>

</div>
<div *ngIf="role=='OWNER'">

    <app-owner-navbar></app-owner-navbar>

</div>



<router-outlet></router-outlet>


<h1 style="margin-left: 120px;margin-top: 70px;color:rgb(111, 111, 243);"> Companies</h1>

<div class="card">
    <div class="container">
        <div class="card" style="margin-top: 20px;" *ngFor="let item of items">
            <ul class="list-group">

                <li style="height: 60px;" class="list-group-item">Email of companies: {{item.email}} </li>
                <li style="height: 60px;" class="list-group-item">Name of companies: {{item.name}} </li>
                <li style="height: 60px;" class="list-group-item">Web sity of companies: {{item.website}}</li>
                <li style="height: 60px;" class="list-group-item">Number of empployes: {{item.numberOfEmpl}}</li>
                <li style="height: 60px;" class="list-group-item">Phone number: {{item.phoneNumber}}</li>
                <li style="height: 60px;" class="list-group-item">Country of origin: {{item.countryOfOrigin}}</li>

                <li class="list-group-item">
                    <button type="button" class="btn btn-primary mybtn" (click)="see(item.id)">See more</button>


                </li>
            </ul>

        </div>
    </div>
</div>